<div class="header">
  <div class="header-left">
    <div class="brand-area">
      <img
        src="assets/logo.png"
        alt="Fossil Group Logo"
        class="brand-logo"
      />
    </div>

    <div class="app-title-group">
      <span class="main-app-title">Attendance Tracker</span>
      <span class="app-sub-title">Digital GBS Platform</span>
    </div>
  </div>

  <div class="header-right">
    <button mat-icon-button title="Feedback Form" (click)="openFeedbackForm()">
      <mat-icon>description</mat-icon>
    </button>

    <div class="user-menu-trigger" [matMenuTriggerFor]="userMenu">
      <div class="user-details">
        <span class="username">{{ username }}</span>
        <span class="role">{{ team }}</span>
      </div>
      <mat-icon class="user-icon">account_circle</mat-icon>
    </div>

    <mat-menu #userMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>
</div>
