.parentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Dropdown Styling */
.dropdown-container {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.dropdown-container select {
    margin: 0 10px;
    padding: 5px;
    font-size: 16px;
}

/* Calendar Grid Styling */
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1%;
    text-align: center;
    width: 85%;
    height: 50%;
    margin: 0 auto;
}

.day-name {
    font-weight: bold;
}

.calendar-grid div {
    padding: 5%;
    border: 1px solid #ccc;
    position: relative;
}

.date-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.leave .date-circle {
    background-color: #E57373;
}

.office .date-circle {
    background-color: #5C6BC0;
}

.home .date-circle {
    background-color: #81C784;
}

.pending .date-circle {
    background-color: #FFB74D;
}

.calendar-grid div.empty {
    background-color: #f9f9f9;
}

.legend-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5%;
    width: 80%;
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.legend-container .legend-item:nth-child(4),
.legend-container .legend-item:nth-child(5) {
    flex: 1 1 40%;
    justify-content: center;
}

.legend-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
}

.leave .date-circle,
.legend-circle.leave {
    background-color: #E57373;
}

.office .date-circle,
.legend-circle.office {
    background-color: #5C6BC0;
}

.home .date-circle,
.legend-circle.home {
    background-color: #81C784;
}

.pending .date-circle,
.legend-circle.pending {
    background-color: #FFB74D;
}

.work-from-office {
    background-color: #5C6BC0;
}

.work-from-home {
    background-color: #81C784;
}

.leave {
    background-color: #e86f6f;
}

.pending-approval {
    background-color: rgb(250, 250, 138);
}

.weekend {
    background-color: #bababa;
}

.public-holiday {
    background-color: #ffaa88;
}

.pointer {
    cursor: pointer;
}

.date-circle.empty {
    background-color: transparent;
    border: none;
}