<div class="parentContainer">
    <div class="dropdown-container">
        <label for="month-select">Month:</label>
        <select id="month-select" [(ngModel)]="selectedMonth" (change)="onYearMonthChange()">
            <option *ngFor="let month of months" [value]="month">{{monthNames[month]}}</option>
        </select>
    </div>

    <!-- Calendar Grid Display -->
    <div class="calendar-grid">
        <div class="day-name">Sun</div>
        <div class="day-name">Mon</div>
        <div class="day-name">Tue</div>
        <div class="day-name">Wed</div>
        <div class="day-name">Thu</div>
        <div class="day-name">Fri</div>
        <div class="day-name">Sat</div>

        <!-- Loop through the daysInMonth array -->
        <div *ngFor="let day of daysInMonth">
            <div *ngIf="!day.empty"
                [ngClass]="[getAttendanceClass(day.attendance, day.date), shouldShowPointer(day.attendance, day.date) ? 'pointer' : '']"
                class="date-circle"
                (click)="!isFutureDate(day.date) && ['weekend', 'public-holiday', ''].includes(getAttendanceClass(day.attendance, day.date)) ? attendanceMarking(day.date) : null">
                {{ day.displayDate }}
            </div>

            <!-- <div *ngIf="day.empty" class="date-circle empty"></div> -->
        </div>
    </div>

    <!-- Legend for Attendance Types -->
    <div class="legend-container">
        <div class="legend-item">
            <span class="legend-circle office"></span> Work from Office
        </div>
        <div class="legend-item">
            <span class="legend-circle home"></span> Work from Home
        </div>
        <div class="legend-item">
            <span class="legend-circle leave"></span> Leave
        </div>
        <div class="legend-item">
            <span class="legend-circle public-holiday"></span> Public Holiday
        </div>
        <div class="legend-item">
            <span class="legend-circle pending-approval"></span> Pending Approval
        </div>
    </div>
</div>