<div class="main-container">
    <app-loader></app-loader>
    <app-header></app-header>
    <div class="content-wrapper">
        <app-sidenav></app-sidenav>
        <div class="content">
            <div class="top-div">
                <div class="form-field">
                    <mat-form-field appearance="outline">
                        <mat-label>Year</mat-label>
                        <mat-select [(ngModel)]="selectedYear" (selectionChange)="getUserAttendance()">
                            <mat-option *ngFor="let year of distinctYears" [value]="year">{{year}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="dropdown" appearance="outline">
                        <mat-label>Quarter</mat-label>
                        <mat-select [(ngModel)]="selectedQuarter" (selectionChange)="userChange()">
                            <mat-option *ngFor="let qtr of distinctQuarters" [value]="qtr">{{qtr}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="admin" class="dropdown" appearance="outline">
                        <mat-label>Users</mat-label>
                        <mat-select [(ngModel)]="selectedUser" (selectionChange)="userChange()">
                            <mat-option *ngFor="let user of subOrdinates"
                                [value]="user.emailId">{{user.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="buttons">
                    <button mat-raised-button color="primary" (click)="openDialog()">Mark
                        Attendance</button>
                </div>
            </div>
            <div class="bottom-div">
                <div class="calendar-wrapper">
                    <app-calendar-view></app-calendar-view>
                </div>
                <div class="table-wrapper">
                    <table>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="header">
                                        <span>Work From Home in {{selectedQuarter}} {{selectedYear}}</span>
                                    </div>
                                    <div class="footer">
                                        <span class="internalTableData">{{ attendanceData.wfh + attendanceData.wfhFriday }}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="card">
                                    <div class="header">
                                        <span>Work From Office in {{selectedQuarter}} {{selectedYear}}</span>
                                    </div>
                                    <div class="footer">
                                        <span class="internalTableData">{{ attendanceData.wfo + attendanceData.wfoFriday }}</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="card">
                                    <div class="header">
                                        <span>Leaves Taken in {{selectedQuarter}} {{selectedYear}}</span>
                                    </div>
                                    <div class="footer">
                                        <span class="internalTableData">{{ attendanceData.leaves }}</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="card">
                                    <div class="header">
                                        <span>Shift Allowance for {{selectedQuarter}} {{selectedYear}}</span>
                                    </div>
                                    <div class="footer">
                                        <table class="allowanceTable">
                                            <tr *ngFor="let month of filteredMonths">
                                                <th style="text-align: left;">{{ month }} {{selectedYear}}</th>
                                                <td>{{ allowanceData[month] || 0 }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #dialogTemplate>
    <span mat-dialog-title class="popUpTitleForAttendance">Attendance Marking</span>

    <mat-dialog-content class="dialogContentForAttendance">
        <div class="form-row-for-attendance">
            <div style="flex: 1;">
                <p-calendar [(ngModel)]="selectedDates" selectionMode="multiple" [placeholder]="'Select Dates'"
                    [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" [style]="{'width':'100%'}"
                    [styleClass]="'custom-calendar-popup'" [minDate]="minDate" [maxDate]="maxDate"
                    (ngModelChange)="onDateChange()">
                </p-calendar>
            </div>

            <mat-form-field class="dropdown-full-width" appearance="outline"
                style="flex: 1; margin-left: 15px; margin-top: 20px;">
                <mat-label>Select Attendance</mat-label>
                <mat-select [(ngModel)]="selectedAttendance" [disabled]="!selectedDates || selectedDates.length === 0"
                    (selectionChange)="onAttendanceChange()">
                    <ng-container *ngFor="let option of filteredOptions">
                        <mat-option [value]="option">{{ option }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline"
                style="flex: 1; margin-left: 15px; margin-top: 15px;">
                <mat-label>Select Shift</mat-label>
                <mat-select [(ngModel)]="shift" [disabled]="!selectedDates || selectedDates.length === 0">
                    <ng-container *ngFor="let option of shiftOptions">
                        <mat-option [value]="option">{{ option }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><strong>Default Shift - </strong>{{defaultShift}}</span>
        </div>
        <hr>
        <div class="shift-options">
            <ul>
                <li><strong>Shift A - </strong> 8:00 AM to 8 PM</li>
                <li><strong>Shift B - </strong> Shifts starting before 8:00 AM OR ending between 8:00 PM to 10 PM</li>
                <li><strong>Shift C - </strong> Shifts extending beyond 10:00 PM up to 12 Midnight</li>
                <li><strong>Shift D - </strong> Shift extending beyond 12 Midnight</li>
                <li><strong>Shift F - </strong> On Call from Home (beyond 12 Midnight and Weekly offs)</li>
            </ul>
        </div>

        <mat-dialog-actions class="dialog-actions">
            <button mat-raised-button color="primary" [disabled]="!selectedAttendance" (click)="onSave()">Save</button>
            <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</ng-template>

<!-- Dialog Template for showing the summary -->
<ng-template #confirmationPopUp let-data>
    <span mat-dialog-title class="popUpTitle">Attendance Summary</span>

    <mat-dialog-content>
        <table style="border: 1px solid black; margin-top: 20px;">
            <tr style="border: 1px solid black;">
                <td style="font-weight: bolder; padding: 5px; text-align: center;">Date</td>
                <td style="font-weight: bolder; padding: 5px; text-align: center;">Attendance</td>
                <td style="font-weight: bolder; padding: 5px; text-align: center;">Approval Required</td>
            </tr>
            <tr *ngFor="let entry of data.summary">
                <td style="border: 1px solid black; color: 'black'; padding: 5px; text-align: center;">{{entry.date |
                    date: 'dd MMMM yyyy'}}
                </td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">{{entry.attendance}}</td>
                <td style="border: 1px solid black; padding: 5px; text-align: center;">{{entry.reason}}</td>
            </tr>
        </table>
        <br>
        <strong>Please make sure the above values are correct</strong>
    </mat-dialog-content>

    <mat-dialog-actions style="margin-bottom: 20px;" align="end">
        <button mat-raised-button *ngIf="!requiresApproval" color="primary"
            (click)="confirmAttendance()">Confirm</button>
        <button mat-raised-button *ngIf="requiresApproval" color="primary" (click)="confirmAttendance()">Send for
            Approval</button>
        <button mat-raised-button color="warn" class="popupButton" (click)="cancelAttendance()">Cancel</button>
    </mat-dialog-actions>
</ng-template>

<ng-template #detailedAttendance>
    <div mat-dialog-title class="popUpTitle2">{{ popUpTitle }}</div>
    <div mat-dialog-content class="popUpContent">
        <div class="scrollable-content">
            <table class="table-container">
                <thead>
                    <tr>
                        <td class="popupTableHeader" (click)="sortData()">Date
                            <span *ngIf="sortAscending">&#9650;</span>
                            <span *ngIf="!sortAscending">&#9660;</span>
                        </td>
                        <td class="popupTableHeader">Attendance</td>
                        <td class="popupTableHeader">Shift</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of detailedArray">
                        <td class="detailTableFields2">{{ item.date | date: 'EEE, dd MMM yyyy' }} </td>
                        <td class="detailTableFields2">{{ item.attendance }}</td>
                        <td class="detailTableFields2">{{ item.shift }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="warn" mat-dialog-close class="popupButton2">Close</button>
    </div>
</ng-template>

<ng-template #calendarViewAttendance>
    <span mat-dialog-title class="popUpTitleForAttendance">Attendance Marking</span>

    <mat-dialog-content class="dialogContentForAttendance">
        <div class="form-row-for-attendance">

            <mat-form-field class="dropdown-full-width" appearance="outline"
                style="flex: 1; margin-left: 15px; margin-top: 20px;">
                <mat-label>Selected Dates</mat-label>
                <input matInput disabled [value]="popUpDate | date: 'dd MMMM yyyy'">
            </mat-form-field>

            <mat-form-field class="dropdown-full-width" appearance="outline"
                style="flex: 1; margin-left: 15px; margin-top: 20px;">
                <mat-label>Select Attendance</mat-label>
                <mat-select [(ngModel)]="selectedAttendance" (selectionChange)="onAttendanceChange()">
                    <ng-container *ngFor="let option of options">
                        <mat-option [value]="option">{{ option }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="outline"
                style="flex: 1; margin-left: 15px; margin-top: 15px;">
                <mat-label>Select Shift</mat-label>
                <mat-select [(ngModel)]="shift" [disabled]="!selectedAttendance">
                    <ng-container *ngFor="let option of shiftOptions">
                        <mat-option [value]="option">{{ option }}</mat-option>
                    </ng-container>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="display: flex; justify-content: space-between; align-items: center;">
            <span><strong>Default Shift - </strong>{{defaultShift}}</span>
        </div>
        <hr>
        <div class="shift-options">
            <ul>
                <li><strong>Shift A - </strong> 8:00 AM to 8 PM</li>
                <li><strong>Shift B - </strong> Shifts starting before 8:00 AM OR ending between 8:00 PM to 10 PM</li>
                <li><strong>Shift C - </strong> Shifts extending beyond 10:00 PM up to 12 Midnight</li>
                <li><strong>Shift D - </strong> Shift extending beyond 12 Midnight</li>
                <li><strong>Shift F - </strong> On Call from Home (beyond 12 Midnight and Weekly offs)</li>
            </ul>
        </div>

        <mat-dialog-actions class="dialog-actions">
            <button mat-raised-button color="primary" [disabled]="!selectedAttendance"
                (click)="onSavePopUp()">Save</button>
            <button mat-raised-button color="warn" mat-dialog-close>Close</button>
        </mat-dialog-actions>
    </mat-dialog-content>
</ng-template>