<div class="sidenav">
  <a routerLink="/home" routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    <span class="nav-text">Home</span>
  </a>

  <a routerLink="/edit-attendance" routerLinkActive="active-link">
    <mat-icon>edit</mat-icon>
    <span class="nav-text">Edit Attendance</span>
  </a>

  <a *ngIf="admin" routerLink="/admin-panel" routerLinkActive="active-link">
    <mat-icon>supervisor_account</mat-icon>
    <span class="nav-text">Reports</span>
  </a>

  <a *ngIf="!admin" routerLink="/request-status" routerLinkActive="active-link">
    <mat-icon>assignment_late</mat-icon>
    <span class="nav-text">My Requests</span>
  </a>

  <a class="nav-pill" *ngIf="admin" routerLink="/request-status" routerLinkActive="active-link">
    <span class="icon-wrap">
      <mat-icon> assignment_late </mat-icon>
      <span *ngIf="badgeCount" class="badge">{{badgeCount}}</span>
    </span>
    <span class="nav-text">Requests</span>
  </a>

  <a
    *ngIf="superAdmin"
    routerLink="/super-admin"
    routerLinkActive="active-link"
  >
    <mat-icon>supervised_user_circle</mat-icon>
    <span class="nav-text">Super Admin</span>
  </a>
</div>
