<div class="sidenav">
    <ul>
        <li title="Home Page"><a routerLink="/user-dashboard"><mat-icon>home</mat-icon></a></li>
        <li title="Edit Attendance"><a routerLink="/edit-attendance"><mat-icon>edit</mat-icon></a></li>
        <li title="Manager's Dashboard" *ngIf="admin"><a routerLink="/admin-panel"><mat-icon>supervisor_account</mat-icon></a></li>
        <li title="Approval Request" *ngIf="!admin"><a routerLink="/request-status"><mat-icon>assignment_late</mat-icon>
            </a>
        </li>
        <li title="Approval Request" *ngIf="admin">
            <a routerLink="/request-status">
                <mat-icon [matBadge]="badgeCount > 0 ? badgeCount : null" matBadgeColor="warn"
                    matBadgeClass="custom-badge">assignment_late</mat-icon>
            </a>
        </li>
        <li title="Super Admin" *ngIf="superAdmin">
            <a routerLink="/super-admin">
                <mat-icon>supervised_user_circle</mat-icon>
            </a>            
        </li>
    </ul>
</div>