<div class="main-container">
  <app-loader></app-loader>
  <app-header></app-header>
  <div class="content-wrapper">
    <app-sidenav></app-sidenav>
    <div class="content">
      <div class="header-section">
        <span class="sectionHeader"
          >Attendance Data for {{ time | date : "dd MMMM yyyy" }}</span
        >

        <div class="button-container">
          <button
            class="matButton"
            mat-raised-button
            color="primary"
            (click)="shiftAllowanceReportPopUp()"
          >
            <mat-icon>get_app</mat-icon>Shift Allowance Report
          </button>

          <button
            class="matButton"
            mat-raised-button
            color="primary"
            (click)="attendanceReportPopUp()"
          >
            <mat-icon>get_app</mat-icon>Attendance Report
          </button>
        </div>
      </div>

      <div class="todaysSection">
        <div class="sectionItem">
          <span class="sectionText">Reportees</span
          ><span (click)="openUsersList('Reportees')" class="sectionCount">{{
            detailedArray.length
          }}</span>
        </div>
        <div class="sectionItem">
          <span class="sectionText">Attendance Not Marked</span
          ><span (click)="openUsersList('Not Marked')" class="sectionCount">{{
            detailedArray.length - todaysAttendanceData.length
          }}</span>
        </div>
        <div class="sectionItem">
          <span class="sectionText">Active Today</span
          ><span
            (click)="openActiveTodayPopUp('Active Today')"
            class="sectionCount"
            >{{ wfh + wfo }}</span
          >
        </div>
        <div class="sectionItem">
          <span class="sectionText">On Leave</span
          ><span (click)="openUsersList('On Leave')" class="sectionCount">{{
            leave
          }}</span>
        </div>
        <div class="sectionItem">
          <span class="sectionText">Working From Home</span
          ><span
            (click)="openUsersList('Working From Home')"
            class="sectionCount"
            >{{ wfh }}</span
          >
        </div>
        <div class="sectionItem">
          <span class="sectionText">Working From Office</span
          ><span
            (click)="openUsersList('Working From Office')"
            class="sectionCount"
            >{{ wfo }}</span
          >
        </div>
      </div>
      <hr />
      <div class="quarterSection">
        <div>
          <span class="sectionHeader"
            >Attendance Data for Q{{ currentQuarter }} {{ currentYear }}</span
          >
        </div>
        <div style="border: 1px solid black" class="table-container">
          <table>
            <thead>
              <tr>
                <th class="detailTableHeader2">Name</th>
                <th class="detailTableHeader2 center-align">WFH</th>
                <th class="detailTableHeader2 center-align">WFO</th>
                <th class="detailTableHeader2 center-align">WFA Balance</th>
                <th class="detailTableHeader2">Upcoming Leaves</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of mergedArray">
                <td class="detailTableFields2">{{ item.reporteeName }}</td>
                <td class="detailTableFields2 center-align">
                  {{ item.wfh + item.wfhFriday }}
                </td>
                <td class="detailTableFields2 center-align">
                  {{ item.wfo + item.wfoFriday }}
                </td>
                <td class="detailTableFields2 center-align">
                  {{ item.wfhAnyWhere }}
                </td>
                <td class="detailTableFields2">
                  {{ item.upcomingLeaveDates }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #downloadShiftReport>
  <div
    mat-dialog-title
    class="popUpTitle2"
    style="background-color: #5d54a4; color: white; margin-bottom: 20px"
  >
    Download Shift Allowance Report
  </div>
  <div mat-dialog-content>
    <div mat-dialog-content>
      <div class="form-container">
        <div class="form-field">
          <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select [(ngModel)]="selectedYear">
              <mat-option *ngFor="let year of distinctYears" [value]="year">{{
                year
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <mat-label>Month</mat-label>
            <mat-select [(ngModel)]="selectedMonth">
              <mat-option
                *ngFor="let month of distinctMonths"
                [value]="month"
                >{{ monthNames[month] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogActions">
    <button
      mat-raised-button
      color="warn"
      mat-dialog-close
      class="popupButton2"
    >
      Close
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="generateReport('Shift')"
      class="popupButton2"
    >
      Download
    </button>
  </div>
</ng-template>

<ng-template #downloadAttendanceReport>
  <div
    mat-dialog-title
    class="popUpTitle2"
    style="background-color: #5d54a4; color: white; margin-bottom: 20px"
  >
    Download Attendance Report
  </div>
  <div mat-dialog-content>
    <div mat-dialog-content>
      <div class="form-container">
        <div class="form-field">
          <mat-form-field>
            <mat-label>Year</mat-label>
            <mat-select [(ngModel)]="selectedYear">
              <mat-option *ngFor="let year of distinctYears" [value]="year">{{
                year
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field>
            <mat-label>Month</mat-label>
            <mat-select [(ngModel)]="selectedMonth">
              <mat-option
                *ngFor="let month of distinctMonths"
                [value]="month"
                >{{ monthNames[month] }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-actions class="dialogActions">
    <button
      mat-raised-button
      color="warn"
      mat-dialog-close
      class="popupButton2"
    >
      Close
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="generateReport('Attendance')"
      class="popupButton2"
    >
      Download
    </button>
  </div>
</ng-template>

<ng-template #usersReport>
  <div
    mat-dialog-title
    class="popUpTitle2"
    style="background-color: #5d54a4; color: white; margin-bottom: 20px"
  >
    {{ reportType }}
  </div>
  <div mat-dialog-content class="popUpContent">
    <div class="scrollable-content">
      <table>
        <thead>
          <tr>
            <td class="detailTableHeader2">Name</td>
            <td class="detailTableHeader2">Email Id</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of popUpList">
            <td class="detailTableFields2">{{ item.reporteeName }}</td>
            <td class="detailTableFields2">{{ item.emailId }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div mat-dialog-actions class="dialogActions">
    <button
      mat-raised-button
      color="warn"
      mat-dialog-close
      class="popupButton2"
    >
      Close
    </button>
  </div>
</ng-template>

<ng-template #usersReport2>
  <div
    mat-dialog-title
    class="popUpTitle2"
    style="background-color: #5d54a4; color: white; margin-bottom: 20px"
  >
    {{ reportType }}
  </div>
  <div mat-dialog-content class="popUpContent">
    <div class="scrollable-content">
      <table>
        <thead>
          <tr>
            <td class="detailTableHeader2">Name</td>
            <td class="detailTableHeader2">Email Id</td>
            <td class="detailTableHeader2">Attendance</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of popUpList">
            <td class="detailTableFields2">{{ item.reporteeName }}</td>
            <td class="detailTableFields2">{{ item.emailId }}</td>
            <td class="detailTableFields2">{{ item.attendance }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div mat-dialog-actions class="dialogActions">
    <button
      mat-raised-button
      color="warn"
      mat-dialog-close
      class="popupButton2"
    >
      Close
    </button>
  </div>
</ng-template>
